body{
	top: 0;
	background-color: #E7E7E7;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

h1{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #D0D0D0;
	font-size: 200%;
	font-family: Arial;
	color: #FFFFFF;
	margin: 0 auto;
}


header{
	text-align: center;
	display: block;
}

nav{
	font-variant: capitalize;
	font-size: 150%;
	font-family: Arial;
	height: 40px;
	margin-top: 5px;
}

nav a{
	padding: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
}

nav a:hover{
	color: rgba(0, 0, 0, 1);
	text-decoration: underline;
}



div{
	width: 46%;
	height: 500px;
	margin: 5px;
	margin: 0 auto;
	margin-top: 10px;
	border: 10px;
	padding: 15px;
	text-align: center;
	display: inline-block;
	float: left;
}

img{
	width: 60%;

}

p{
	text-align: justify;
	font-size: 20px;
}

footer{
	background: #D0D0D0;
	font-family: Arial;
	color: #FFFFFF;
	text-align: center;
	clear: both;
}