h1{
	background: #D0D0D0;
	font-size: 200%;
	font-family: Arial;
	color: #FFFFFF;
}

header{
	background: #666666;
	text-align: center;
}

nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial;
}

footer{
	background: #D0D0D0;
	font-family: Arial;
	color: #FFFFFF;
	text-align: center;
}