body{
	top: 0;
	background-color: #E7E7E7;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

h1{
	padding-top: 10px;
	font-size: 250%;
	font-family: Arial;
	color: rgba(255, 255, 255, 1);
	margin: 0 auto;
	display: inline-block;
	text-align: left;
	margin-left: 50px;
}


header{
	text-align: center;
	display: block;
	background: #404040;
}

nav{
	font-variant: capitalize;
	font-size: 150%;
	font-family: Arial;
	height: 40px;
	margin-top: 5px;
	display: inline-block;
	padding-left: 250px;
}

nav a{
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);

}

nav a:hover{
	color: rgba(255, 255, 255, 0.8);
}

.active{
	color: rgba(255, 255, 255, 0.95);
	font-weight: bold;
}

div{
	width: 46%;
	margin: 5px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 15px;
	text-align: center;
	display: inline-block;
	float: left;
}

img{
	height: 400px;

}

p{
	text-align: justify;
	font-size: 24px;
	font-family: Calibri;
}

footer{
	background: #D0D0D0;
	font-family: Arial;
	color: #FFFFFF;
	text-align: center;
	clear: both;
}

.link{
	margin: 25px;
	padding: 10px;
	display: inline-block;
	width: 50%;
}

.projectlink{
	display: inline-block;
	text-decoration: none;
	text-align: justify;
	padding: 10px;
	margin: 0 5px 0 5px;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
	font-family: Arial;
	font-size: 20px;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0.75;
	transition: 0.5s ease;
}

.projectlink:hover{
	opacity: 1;
}